#modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(1, 171, 170, 0.8);
  height: 100%;
  width: 100%;
}

#modalContainer {
  position: relative;
  margin: 15% auto;
  background-color: rgba(255,255,255,0);
  width: 30%;
  height: 400px;
  z-index: 1;
  box-sizing: border-box;
}

#modalImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 30px;
}

#modalHeader {
  height: 50%;
  padding: 4%;
}

#closeModal {
  cursor: pointer;
  float: right;
}

#modalContent {
  color: black;
  font-size: 15px;
  text-align: left;
  background-color: rgba(203,203,203,0.8);
  height: 35%;
  overflow: scroll;
  padding: 5px;
  box-sizing: border-box;
}

#modalContent h4 {
  font-size: 24px;
}

#modalFooter {
  background-color: rgba(203,203,203,0.8);
  height: 15%;
  padding: 0 4% 4% 4%;
  box-sizing: border-box;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#modalFooter img#addButton {
  float: right;
  cursor: pointer;
}
